
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
font-family: 'Poppins', sans-serif;
background-color: #eae6e4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color:#dbcfc8;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 10vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #CE967B; 
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    background-color: #eae6e4;
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    color:#FFFDFC;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #dbcfc8;
}

.home-content p {
    font-size: 16px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
   }

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #dbcfc8;
    border: 2px solid #dbcfc8; 
    border-radius: 8px;
    font-size: 19px;
    color: #dbcfc8;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color:#eae6e4
}

.btn-box a:nth-child(2):hover {
    color: #CE967B;
}


.btn-box a:nth-child(2) {
    background: transparent;
    color: #FFFDFC;
}

.btn-box a:nth-child(2)::before {
    background: #eae6e4;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFFDFC;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

/*termina blog empieza footer*/

.footer {
    padding: 100px 0;
    background-color: #000000;

}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}

.link a{
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}


@media(max-width:991px) {

    .menu{
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;

    }

    .header{
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .travel {
        padding: 30px;
    }

    .travel-content h2 {
        padding: 0;
    }

    .txt-p{
        padding: 0;
    }

    .travel-group{
        flex-direction: column;
        margin-bottom: 0;
    }

    .travel-img{
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}